{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}


{% block content %}

<br />
<h1>Welcome to your dashboard {{ current_user.username.upper() }}.</h1>
<br />

<button class="btn btn-link"><a href="#">Add Note</a></button>
<br />
<button class="btn btn-link"><a href="#">View Notes</a></button>
<br />
<button class="btn btn-link"><a href="#">Remove Note</a></button>
<br />


{% if note.query.all() %}
    <hr />
    <h2>Added notes title.</h2>
    {% for notes in note.query.filter_by(user_id=current_user.id) %}
        <ul>
            <li>{{ note.title }}</li>
        </ul>
    {% endfor %}
{% endif %}

<hr>
<button class="btn btn-link"><a href="{{ url_for('logout') }}">Logout</a></button>

{% endblock content %}
