{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
        <h1>Welcome to your notes app</h1>
        <h2>This application is for localhost enviroment.<br>This app will help you save your notes in this device you
            running this web app.</h2>
        <a href="#" class="btn-get-started">Get Started</a>
    </div>
</section><!-- End Hero Section -->
{% endblock content %}
